:root {
    --color-background-main: #111111;
    --color-primary: #111111;
    --color-secondary: #0A0A0A;
    --color-text: #999999;
    --color-text-accent: #dfdfdf;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    min-height: 100vh;

    background: var(--color-background-main);
    color: var(--color-text);

    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 400;
    font-style: normal;

    display: grid;
    grid-template-columns: auto 1fr;
}